<header
    class="z-10 sticky justify-items-center w-full top-0 grid grid-cols-5 bg-white justify-center p-4 drop-shadow"
>
    <div class="col-span-2 flex gap-x-12 mt-3 justify-self-end" id="link-bar-1">
        <a
            href="{{site.baseurl}}/dream-car"
            class="text-sm/6 font-semibold text-gray-900"
            >Dream Car</a
        >
        <a
            href="{{site.baseurl}}/recommended"
            class="text-sm/6 font-semibold text-gray-900"
            >Recommended Cars</a
        >
        <a
            href="{{site.baseurl}}/allPosts"
            class="text-sm/6 font-semibold text-gray-900"
            >All Posts</a
        >
        <a
            href="{{site.baseurl}}/make_post"
            class="text-sm/6 font-semibold text-gray-900"
            >Make Post</a
        >
        
            
    </div>
    <div class="p-2" id="home-btn">
        <a href="{{site.baseurl}}/" class="text-sm/6 font-bold text-rose-600"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="30"
                height="30"
                viewBox="0,0,256,256"
            >
                <g
                    fill="#dc2626"
                    fill-rule="nonzero"
                    stroke="none"
                    stroke-width="1"
                    stroke-linecap="butt"
                    stroke-linejoin="miter"
                    stroke-miterlimit="10"
                    stroke-dasharray=""
                    stroke-dashoffset="0"
                    font-family="none"
                    font-weight="none"
                    font-size="none"
                    text-anchor="none"
                    style="mix-blend-mode: normal"
                >
                    <g transform="scale(10.66667,10.66667)">
                        <path
                            d="M12,2c-0.26712,0.00003 -0.52312,0.10694 -0.71094,0.29688l-10.08594,8.80078c-0.12774,0.09426 -0.20313,0.24359 -0.20312,0.40234c0,0.27614 0.22386,0.5 0.5,0.5h2.5v8c0,0.552 0.448,1 1,1h4c0.552,0 1,-0.448 1,-1v-6h4v6c0,0.552 0.448,1 1,1h4c0.552,0 1,-0.448 1,-1v-8h2.5c0.27614,0 0.5,-0.22386 0.5,-0.5c0.00001,-0.15876 -0.07538,-0.30808 -0.20312,-0.40234l-10.08008,-8.79492c-0.00194,-0.00196 -0.0039,-0.00391 -0.00586,-0.00586c-0.18782,-0.18994 -0.44382,-0.29684 -0.71094,-0.29687z"
                        ></path>
                    </g>
                </g></svg
        ></a>
    </div>
    <div
        class="col-span-2 flex gap-x-12 mt-3 justify-self-start"
        id="link-bar-2"
    >
        <a
            href="{{site.baseurl}}/electric"
            class="text-sm/6 font-semibold text-gray-900"
            >Electric</a
        >
        <a
            href="{{{site.baseurl}}/gas"
            class="text-sm/6 font-semibold text-gray-900"
            >Gas</a
        >
        <a
            href="{{{site.baseurl}}/garage"
            class="text-sm/6 font-semibold text-gray-900"
            >Garage</a
        >
        
           <!-- Help dropdown (hover version) -->
            <div class="relative group">
                <a
                    href="{{site.baseurl}}/help"
                    class="text-sm/6 font-semibold text-gray-900"
                    id="help-button"
                >Help</a>
                <div
                    id="help-dropdown"
                    class="dropdown-content absolute hidden group-hover:block bg-white shadow-md rounded-lg mt-2 w-40 text-sm font-semibold text-gray-900"
                >
                    <a href="{{site.baseurl}}/terms" class="block px-4 py-2">Terms of Service</a>
                    <a href="{{site.baseurl}}/mechanicsTips" class="block px-4 py-2">Car Issues Post Page</a>
                    <a href="{{site.baseurl}}/terms" class="block px-4 py-2">Terms of Service</a>
                </div>
            </div>

        <a
            id="signup-login"
            href="{{site.baseurl}}/noauth"
            class="hover:drop-shadow-xl z-10 right-6 absolute text-rose-600 font-extrabold tracking-tight"
            >Sign Up | Login</a
        >
        <a
            hidden
            id="profile"
            href="{{site.baseurl}}/profile"
            class="hover:drop-shadow-xl z-10 right-6 absolute text-rose-600 font-extrabold tracking-tight"
            >Profile</a
        >
    </div>
</header>

<script type="module">
    import {
        pythonURI,
        fetchOptions,
    } from "{{site.baseurl}}/assets/js/api/config.js";

    const loginLink = document.getElementById("signup-login");
    const profileLink = document.getElementById("profile");

    document.addEventListener("DOMContentLoaded", () => {
        getCredentials() // Call the function to get credentials
            .then((data) => {
                if (data) {
                    //IF DATA THEN THE USER IS AUTHENTICATED/LOGGED IN
                    console.log("LOGGED IN");
                    loginLink.hidden = true;
                    profileLink.hidden = false;
                } else {
                    //USER IS NOT AUTHENTICATED/LOGGED IN
                }
            })
            .catch((err) => {
                // General error handler
                console.error("Error fetching credentials: ", err);
                // Handle any errors that occurred during getCredentials
            });
    });
    function getCredentials() {
        const URL = pythonURI + "/api/user";
        return fetch(URL, fetchOptions)
            .then((response) => {
                // API response handler
                if (response.status !== 200) {
                    console.error("HTTP status code: " + response.status);
                    return null; // prepares to stop the chain by returning null.
                }
                return response.json(); // plans to continue the chain with the data.
            })
            .then((data) => {
                // Data handler from the previous promise
                if (data === null) return null; // stops the chain, returns null.
                return data; // returns data to caller
            })
            .catch((err) => {
                // General error handler
                console.error("Fetch error: ", err);
                return null;
            });
    }
</script>
